


.main-nav {
  
  background: rgb(44, 43, 43);
  color: lightgrey;  
  cursor: pointer;
  font-size: 1.2em;  
  height: 180px;
  margin-top: 5em;
  padding: 15px;
}

.main-nav > ul > li > a {

  text-decoration: none; 
  list-style: none;
  float: right;
}

.main-nav > ul> img {

  float: left;
  padding: .8em;
  clear: both;
}

.main-nav > ul> p {

  font-size: 2em;
  text-align: center;
  float: left;
  padding-top: 50px; 

}

h2 {
  font-size: 2em;
  padding: .8em;
}

.inner-container > h3, p {

  padding: 1em;
  width: 50%;
  margin: none;
  
}

.inner-container > button {

  position: absolute;
  right: 2em;
  bottom: 2em;
}

